{% extends 'base.html' %}
{% block content %}
<div class="container my-3">
    <table class="table">
        <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">제목</th>
            <th scope="col">시간</th>            
        </tr>
        </thead>
        {% if lists %}
            <tbody>
                {% for q in lists %}                                
                    <tr>
                        <th scope="row">1</th>
                        <td><a href="{% url 'detail' q.id  %}" >{{q.subject}}</a></td>
                        <td>{{q.created_at}}</td>            
                    </tr>
                {% endfor %}             
            </tbody>
        {% else %}
            <p>내용이 없습니다.</p>
        {% endif %}
    </table>
    <form action="{% url 'question_create' %}" , method="POST">
        {% csrf_token %}
        <input type="text" name = 'subject' placeholder="제목을 작성해주세요..."><br>
        <textarea name="content" id="content" rows="5" class="form-control" placeholder="내용을 작성해주세요..."></textarea>
        <input type="submit" class="btn btn-primary" value="등록하기">
    </form>
    

</div>
{% endblock %}
